@use '../scss/custom-specialty-dropdown.scss';

.expert-section-heading {
    color: #717171 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    text-transform: none !important;
  }


  .expert-grid {
    margin-bottom: clamp(24px, 4vw, 60px) !important;
  }
  
  .expert-card:last-child {
    margin-bottom: 0 !important;
  }
  

  h2.physician-subtitle {
    font-size: 20px !important;
    font-weight: 300;
    color: rgb(113, 113, 113);
    max-width: 640px;
    line-height: 1.75;
    text-transform: none;
    margin-bottom: 20px;
}



 
.subspecialty-filters {
    margin: 24px 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


button.subspecialty-filter-button.active, button.subspecialty-filter-button:hover {
    color: #56a554;
}
button.subspecialty-filter-button {
    color: #236194;
    font-size: 18px;
    min-width: 15%;
 
    transition: all .3s linear;
    border-bottom: 1px solid;
        font-weight: 600;
        padding-bottom: 4px;

}


 
.hidden{
  display: none !important;
}