@use '../scss/custom-specialty-dropdown.scss';

.expert-section-heading {
    color: #717171 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    text-transform: none !important;
  }


  .expert-grid {
    margin-bottom: clamp(24px, 4vw, 60px) !important;
  }
  
  .expert-card:last-child {
    margin-bottom: 0 !important;
  }
  

  h2.physician-subtitle {
    font-size: 20px !important;
    font-weight: 300;
    color: rgb(113, 113, 113);
    max-width: 640px;
    line-height: 1.75;
    text-transform: none;
    margin-bottom: 20px;
}



 
.subspecialty-filters {
    margin: 24px 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

 


 
.hidden{
  display: none !important;
}



button.subspecialty-filter-button {
    background: #d4d4d4;
    font-size: 13px;
    font-weight: 600;
    transition: all .3s linear;
    padding: 6px 20px;
    border-radius: 5px;
}

button.subspecialty-filter-button:hover, button.subspecialty-filter-button.active {
    background: #56a554;
    color: #fff;
}

.subspecialty-filters {
    display: flex;
    gap: 6px;
    margin: 24px 0 40px;
}



.expert-grid, .expert-non-grid, #offering-grid {
  flex-flow: row wrap !important;
  justify-content: flex-start !important;
  gap: 12px !important;
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3  lg:grid-cols-4  xl:grid-cols-5;
}
.subspecialty-section.subtier {

.expert-grid {
 
  gap: 12px !important;
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7;
  



}

  .expert-section-heading {
 
    @apply md:text-lg text-xl !important;
   
 
} 


.expert-grid-title, .expert-non-grid-title {
@apply md:text-[12px] text-base !important;
}
}