@use '../scss/custom-specialty-dropdown.scss';

.expert-section-heading {
    color: #717171 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
    margin-bottom: 12px !important;
    margin-top: 0px !important;
    text-transform: none !important;
  }


  .expert-grid {
    margin-bottom: clamp(24px, 4vw, 60px) !important;
  }
  
  .expert-card:last-child {
    margin-bottom: 0 !important;
  }
  

  h2.physician-subtitle {
    font-size: 20px !important;
    font-weight: 300;
    color: rgb(113, 113, 113);
    max-width: 640px;
    line-height: 1.75;
    text-transform: none;
    margin-bottom: 20px;
}



 
.subspecialty-filters {
    display: flex
;
    flex-wrap: wrap;
    margin: 12px 0 40px;
    justify-content: center;
}

button.subspecialty-filter-button {
    background: #236194;
    color: #fff;
    font-size: 18px;
    padding: 0.35em 1.75em;
    margin: .5rem;
    transition: .3s all linear;
    border-radius: 5px;
    min-width: 15%;
}

button.subspecialty-filter-button.active, button.subspecialty-filter-button:hover {
    background: #56a554;
}